.dropButton {
  background-color: salmon;
  border: none;
  float: right;
  margin-top: 0.5rem;
  padding: 0.25rem 1rem;
  font-size: 1rem;
  border-radius: 10px 0 0 10px;
  color: white;
}

.dropMenu {
  position: relative;
}

.dropContent {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 1rem 1rem;
  right: 0px;
  top: 82px;
  padding-bottom: 0.5rem;
}

.dropContent p {
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
  margin: 4px 0;
  border-bottom: 2px solid transparent;
}

.dropMenu:hover .dropContent {
  display: block;
}

.dropContent p:hover {
  background-color: rgb(211, 211, 211, 0.75);
  border-bottom: 2px solid salmon;
}

.dropMenu:hover .dropButton {
  background-color: green;
}

.input {
  background-color: salmon;
  border: none;
  float: right;
  margin-top: 0.5rem;
  padding: 0.25rem 1rem;
  font-size: 1rem;
  border-radius: 10px 0 0 10px;
  color: white;
}

.input::placeholder {
  color: white;
}

.div-search {
  position: relative;
}

.input-icons i {
  position: absolute;
  left: 0;
  margin-left: 84%;
  margin-top: 15px;
  width: 20px;
  height: 20px;
}

.input-icons {
  position: relative;
}

.dropButton i {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  color: black;
}

@media screen and (max-width: 900px) {
  .dropButton {
    float: left;
  }

  .dropContent {
    right: auto;
    left: 0px;
  }

  .dropButton {
    border-radius: 0 10px 10px 0;
  }

  .input {
    border-radius: 0 10px 10px 0;
  }

  .input, .dropButton {
    font-size: 0.85rem;
  }

  .input-icons i {
    margin-top: 13px;
  }

  .dropButton i {
    padding-top: 5px;
  }

  .dropContent p {
    font-size: 0.85rem;
    padding: 4px;
  }

  .dropContent {
    top: 74px;
  }

}