.div-search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropButton {
  background-color: salmon;
  border: none;
  float: right;
  margin-top: 0.5rem;
  padding: 0.25rem 1rem;
  font-size: 1rem;
  border-radius: 10px 0 0 10px;
  color: white;
}

#rightBarSection {
  position: absolute;
  right: 0;
}

.dropMenu {
  position: relative;
}

.dropContent {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px 0 0 10px;
  right: 0px;
  top: 82px;
  padding-bottom: 0.5rem;
}

.dropContent p {
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
  margin: 4px 0;
  border-bottom: 2px solid transparent;
}

.dropMenu:hover .dropContent {
  display: block;
}

.dropContent p:hover {
  background-color: rgb(211, 211, 211, 0.75);
  border-bottom: 2px solid salmon;
}

.dropMenu:hover .dropButton {
  background-color: green;
}

.input {
  background-color: salmon;
  border: none;
  float: right;
  margin-top: 0.5rem;
  padding: 0.25rem 1rem;
  font-size: 1rem;
  border-radius: 10px 0 0 10px;
  color: white;
}

.input::placeholder {
  color: white;
}

.div-search {
  position: relative;
}

.input-icons i {
  position: absolute;
  left: 0;
  margin-left: 84%;
  margin-top: 15px;
  width: 20px;
  height: 20px;
}

.input-icons {
  position: relative;
}

.dropButton i {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  color: black;
}

#nextPageContainer {
  background-color: rgb(0, 0, 0, 0.25);
  display: inline-flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border-radius: 4px;
}

#nextPageContainer button {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
  transition: 0.2s ease-out;
  background-color: salmon;
  color: white;
  border-radius: 10px;
  border: 0;
  height: 40px;
  width: 40px;
  font-size: 1.5rem;
}

#nextPageContainer p {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

#nextPageContainer button:hover {
  background-color: rgb(250, 128, 114, 0.6);
}

@media screen and (max-width: 900px) {
  #nextPageContainer {
    display: block;
    padding: 0.5rem;
  }

  #nextPageContainer p {
    font-size: 1.5rem;
  }

  #nextPageContainer button {
    transform: rotate(90deg);
  }

  #nextPageContainer {
    transform: rotate(180deg);
  }

  #nextPageContainer p {
    transform: rotate(180deg);
  }


  .div-search {
    justify-content: flex-start;
  }

  .dropContent {
    right: 0;
  }

  .input, .dropButton {
    font-size: 0.85rem;
  }

  .input-icons i {
    margin-top: 13px;
  }

  .dropButton i {
    padding-top: 5px;
  }

  .dropContent p {
    font-size: 0.85rem;
    padding: 4px;
  }

  .dropContent {
    top: 74px;
  }
}