* {
    box-sizing: border-box;
    
}

.column{
    float: left;
    width: 25%;
    padding: 10px;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}




.movie-poster{
    max-width: 20em;
    max-height: 20em;
}

.movie-title {
    color: white;
}

.welcome-text{
    margin-top: 5em;
    color: white;
    font-size: xx-large;
    margin-bottom: 5em;
 
}

.welcome-text-line{
    text-decoration: underline;
    text-decoration-color: salmon;
    text-underline-offset: 10px;
}

@media screen and (max-width: 500px) {
    .column{
        width: 100%;
    }

    .welcome-text{
        font-size: 1.5rem;
        
    }
}




