.container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text {
    font-size: 20px;
    padding-left: 30px;
    padding-right: 20px;
    color: white;
    text-align: justify;
    text-justify: inter-word;
    
  }

.poster {
    width: 25em;
    height: 35em;
    float: left;
    margin-left: 50px;
    margin-top: 120px;
}




@media  screen and (max-width: 900px) {
      .container{
      overflow-x: hidden;
        width: 100%;
    }

    .text{
    margin-top: 60px;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    
    }

    .poster{
      width: 18em;
      height: 30em;
      float: left;
    }
}

@media screen and (max-width: 600px) {
    .container{
      width:100%;
    }

    .text {
      margin-top: 10em;
      font-size: 13px;
      padding-left: 20px;
      padding-right: 20px;
      
    }

    .poster{
      width: 15em;
      height: 25em;
      float: left;
    }

}