* {
    box-sizing: border-box;

}

.column {
    float: left;
    width: 25%;

}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 1000px) {
    .column {
        width: 100%;
    }
}

.movie-poster {
    max-width: 20em;
    max-height: 20em;
}

.movies_page {
    margin-top: 1%;

}

.dropdown-div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

@media screen and (max-width: 550px) {
    .dropdown-div {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 550px) {
    .movies_page {
        margin-top: 40%;
    }
}