* {
    box-sizing: border-box;

}

.movies_page {
    --cardWidth: 250px;
    --cardHeight: 400px;
}

.dropdown-div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 95%;
    margin: 20rem auto 2rem auto;
}

#endLine {
    text-align: left;
    border-bottom: 4px solid white;
    color: white;
    font-weight: normal;
    width: 95%;
    margin: 0 auto 2rem;
}

@media screen and (max-width: 900px) {
    .dropdown-div {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 14rem;
    }
}