header {
    background-color: rgb(40, 44, 52, 0.75);
    display: flex;
    align-items: center;
    min-height: 90px;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
}

#logoImage {
    max-height: 80px;
}

#navBar {
    display: flex;
    margin: 0 auto;
}

@media (max-width: 1400px) {
    #logoImage {
        max-height: 60px;
    }
}