@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  background: url(./Images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
  font-family: 'Poppins';
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}